

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "content content"
        "content content"
        "content content"
        "footer footer";
}

.item-header {
    grid-area: header;
    text-align: center;
}

.item-content {
    grid-area: content;
    grid-column-start: 1;
    grid-column-end: 2;
    place-self: center;
    padding: 10px;
    text-align: justify;
}

.item-image {
    grid-area: content;
    padding: 5px;
    margin: 10px;
    border: 1px solid;
    border-width: 1px;
    border-color: white;
    grid-column-start: 2;
    grid-column-end: end;
}

.item-footer {
    grid-area: footer;
}

#imageOne, #contentOne {
    grid-row-start: 2;
    grid-row-end: 3;
}

#imageTwo, #contentTwo {
    grid-row-start: 3;
    grid-row-end: 4;
}

#imageThree, #contentThree {
    grid-row-start: 4;
    grid-row-end: 5;
}