@import "lesshat";

.ba-slider {
    position: relative;
    overflow: hidden;
}

.ba-slider img {
    width: 100%;
    display:block;
}

.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}


.handle { /* Thin line seperator */
position:absolute; 
left:50%;
top:0;
bottom:0;
width:4px;
margin-left:-2px;

background: rgba(0, 0, 0, 0.5);
}

.handle:after {
    position: absolute;
    top: 93%;
    width: 34px;
    height: 45px;
    margin: -15px 0 0 -15px;

    content:'\21d4';
    color:white;
    font-size:30px;
    text-align:center;
    line-height:40px;
    background: rgba(0, 0, 0);
}